#main {
  display: flex;
  flex-direction: column;
}

a {
  margin: 5px;
}

#content {
  width: 90%;
  margin: 0 auto;
  font-size: 1.1em;
}

#content img {
  float: left;
  margin: 10px;
  width: 500px;
  height: 750px;
}

#details {
  margin: 10px auto 0 auto;
  padding: 0 10px 0 10px;
  float: left;
  width: 50%;
  height: auto;
}

#details ul {
  list-style: none;
}

#details ul li {
  margin-left: 5%;
}

#title {
  font-size: 3em;
  text-align: center;
}

#genre hr {
  width: 15%;
  margin-top: 2px;
  margin-bottom: 5px;
}

#prod_companies hr {
  width: 35%;
  margin-top: 2px;
  margin-bottom: 5px;
}

#prod_countries hr {
  width: 35%;
  margin-top: 2px;
  margin-bottom: 5px;
}

#recomendations {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#recomend_movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.recommend_movie {
  display: flex;
  width: 200px;
  height: auto;
  margin: 10px;
  flex-direction: column;
  text-align: center;
  word-wrap: break-word;
}

.recommend_movie img {
  width: 200px;
  height: 300px;
}