<div id="main">
  <div id="content">
    <img mat-card-image src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}">
    <div id="details">
      <div id="title">{{movie.title}}</div>
      <div id="overview">{{movie.overview}}</div>
      <div id="genre">
        <ul>
          Genre:
          <li *ngFor="let genre of movie.genres">
            {{genre.name}}
          </li>
        </ul>
      </div>
      <div id="prod_companies">
        <ul>
          Prodaction companies:
          <li *ngFor="let company of movie.production_companies">
            {{company.name}}
          </li>
        </ul>
      </div>
      <div id="prod_countries">
        <ul>
          Prodaction contries:
          <li *ngFor="let country of movie.production_countries">
            {{country.name}}
          </li>
        </ul>
      </div>
      <div>
        <ul>
          Runtime:
          <li>{{movie.runtime}} min</li>
        </ul>
      </div>
      <div>
        <ul>
          Vote average:
          <li>{{movie.vote_average}}</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <a mat-button href="{{movie.homepage}}">Movie homepage</a>
            <a mat-button routerLink="">Add to favorite</a>
            <a mat-button routerLink="">home</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="recomendations">
    <h2>Recommendations:</h2>
    <div id="recomend_movies">
      <div *ngFor="let recommendation of recommendations" class="recommend_movie">
        <img src="https://image.tmdb.org/t/p/w500/{{ recommendation.poster_path }}">
        <a mat-button routerLink="/movie/{{recommendation.id}}" (click)="pageReload()">Details</a>
      </div>
    </div>
  </div>